/*           FwX: CONSOLE           */
/* Todos os direitos são reservados */
/* https://sfwx.github.io/copyright */

*:not(.fwx) {
  // display: none !important;
  pointer-events: none;
  filter: blur(5px);
}
body.fwxConsole *, body.fwxConsole *::before, body.fwxConsole *::after {
  box-sizing: border-box;
}
body.fwxConsole {
  font-family: Consolas, Monaco, monospace;
  background: #0f1115;
  color: #e6e6e6;
  margin: 0;
}
body.fwxConsole header {
  border-bottom: 1px solid rgba(0,0,0,.1);
  justify-content: space-between;
  align-items: center;
  background: #151821;
  padding: 10px 16px;
  display: flex;
}
body.fwxConsole header h1 {
  font-weight: normal;
  font-size: 14px;
  opacity: .8;
  margin: 0;
}
@keyframes fwxConsoleInput {
  0%, 49% {
    border-left-color: transparent;
  }
  50%, 100% {
    border-left-color: #e6e6e6;
  }
}
body.fwxConsole header input {
  animation: fwxConsoleInput 1s steps(1) infinite;
  border-bottom: 1.25px dashed #5c6370;
  border-left: 2.5px solid #e6e6e6;
  font-family: monospace;
  background: #191e26;
  border-right: 0;
  color: #e6e6e6;
  border-top: 0;
  outline: none;
  width: 62.5%;
}
body.fwxConsole header input:focus {
  border-left: 0;
}
body.fwxConsole pre {
  padding: 0px 16px;
  white-space: pre;
  line-height: 1.5;
  font-size: 13px;
  color: #e6e6e6;
}
body.fwxConsole pre span.doctype   { color: #7f848e; }
body.fwxConsole pre span.tag       { color: #c678dd; }
body.fwxConsole pre span.attr-name { color: #e5c07b; }
body.fwxConsole pre span.attr-val  { color: #61afef; }
body.fwxConsole pre span.comment   { color: #5c6370; }

/* Todos os direitos são reservados */
/* https://sfwx.github.io/copyright */