/*        FwX: FLORAL-CAPES         */
/* Todos os direitos são reservados */
/* https://sfwx.github.io/copyright */

html[data-fwx][data-origin="https://sfwx.github.io"][data-copyright="https://sfwx.github.io/copyright"] > body[data-fwx].minecraft-ui.floral-capes > main[data-fwx] > div[data-fwx].layout {
  grid-template-columns: auto auto auto;
  display: grid;
}
html[data-fwx][data-origin="https://sfwx.github.io"][data-copyright="https://sfwx.github.io/copyright"] > body[data-fwx].minecraft-ui.floral-capes > main[data-fwx] > div[data-fwx].layout > div[data-fwx]#fwxCapePreview {
  background-image: url("https://sfwx.github.io/floral/64/cape.png");
  background-position: -14px -14px;
  background-repeat: no-repeat;
  box-shadow: 0 5px 0 #58585a;
  image-rendering: pixelated;
  border: 10px solid #e7e8ec;
  background-size: 896px;
  background-color: gray;
  margin-bottom: 10px;
  height: 224px;
  width: 140px;
}
html[data-fwx][data-origin="https://sfwx.github.io"][data-copyright="https://sfwx.github.io/copyright"] > body[data-fwx].minecraft-ui.floral-capes > main[data-fwx] > div[data-fwx].layout > div[data-fwx] > div[data-fwx]#fwxSkinPreview {
  background-image: url("https://sfwx.github.io/floral/64/dummy.png");
  background-position: -170px -170px;
  background-repeat: no-repeat;
  box-shadow: 0 5px 0 #58585a;
  image-rendering: pixelated;
  border: 10px solid #e7e8ec;
  background-size: 1360px;
  background-color: gray;
  margin-bottom: 10px;
  margin-left: 5px;
  height: 170px;
  width: 170px;
}
html[data-fwx][data-origin="https://sfwx.github.io"][data-copyright="https://sfwx.github.io/copyright"] > body[data-fwx].minecraft-ui.floral-capes > main[data-fwx] > div[data-fwx].layout > div[data-fwx] > button[data-fwx] {
  margin-left: 5px;
  width: 190px;
}
html[data-fwx][data-origin="https://sfwx.github.io"][data-copyright="https://sfwx.github.io/copyright"] > body[data-fwx].minecraft-ui.floral-capes > main[data-fwx] > img[data-fwx]#fwxPreview {
  box-shadow: 0 5px 0 #58585a;
  image-rendering: pixelated;
  border: 10px solid #e7e8ec;
  background-color: #222222;
  margin-bottom: 12.5px;
  width: 335px;
}

/* Todos os direitos são reservados */
/* https://sfwx.github.io/copyright */
