/* FwX: FLORALCAPES */
body.fwxMinecraftUI.fwxFloralCapes > main > div.fwxLayout {
  grid-template-columns: auto auto auto;
  display: grid;
}
body.fwxMinecraftUI.fwxFloralCapes > main > div.fwxLayout > div#fwxCapePreview {
  background-image: url("https://sfwx.github.io/floral/64/cape.png");
  background-position: -14px -14px;
  background-repeat: no-repeat;
  box-shadow: 0 5px 0 #58585a;
  image-rendering: pixelated;
  border: 10px solid #e7e8ec;
  background-size: 896px;
  background-color: gray;
  margin-bottom: 10px;
  height: 224px;
  width: 140px;
}
body.fwxMinecraftUI.fwxFloralCapes > main > div.fwxLayout > div > div#fwxSkinPreview {
  background-image: url("https://sfwx.github.io/floral/64/dummy.png");
  background-position: -170px -170px;
  background-repeat: no-repeat;
  box-shadow: 0 5px 0 #58585a;
  image-rendering: pixelated;
  border: 10px solid #e7e8ec;
  background-size: 1360px;
  background-color: gray;
  margin-bottom: 10px;
  margin-left: 5px;
  height: 170px;
  width: 170px;
}