/* ===========================
   FONTES
=========================== */

@font-face {
  src: url("https://sfwx.github.io/font/MinecraftTitle.otf") format("opentype");
  font-family: "MinecraftTitle";
  font-weight: bold;
}

@font-face {
  src: url("https://sfwx.github.io/font/Minecraft.otf") format("opentype");
  font-family: "Minecraft";
}

@font-face {
  src: url("https://sfwx.github.io/font/MinecraftBold.otf") format("opentype");
  font-family: "Minecraft";
  font-weight: bold;
}


/* ===========================
   RESET GERAL
=========================== */

* {
  font-family: "Minecraft";
}

body {
  background-color: #191919;
  margin: 0;
}


/* ===========================
   ELEMENTOS FIXOS
=========================== */

div.fwxCopyright,
div.fwxCopyright a {
  -webkit-tap-highlight-color: transparent;
  justify-content: center;
  text-decoration: none;
  font-size: 12.5px;
  margin-top: 1.25px;
  color: #cccccc;
  display: flex;
}

div.fwxHeader {
  font-family: "MinecraftTitle";
  background-color: #e7e8ec;
  box-shadow: #58585a 0 5px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
}


/* ===========================
   LAYOUT PRINCIPAL
=========================== */

div.fwxContainer {
  padding: 20px 0 10px 0px;
  width: 362.5px;
  margin: auto;
}

div.fwxDescription {
  margin-bottom: 15px;
  margin-left: 7.5px;
  font-size: 18px;
  color: white;
}

div.fwxGrid {
  display: grid;
  gap: 10px;
}


/* ===========================
   PREVIEWS (CAPE / SKIN)
=========================== */

div#fwxCapePreview {
  background-image: url("https://sfwx.github.io/floral/64/cape.png");
  background-position: -15px -15px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  border: 10px solid #e7e8ec;
  box-shadow: #58585a 0 5px;
  background-size: 930px;
  background-color: gray;
  grid-row: 1 / span 4;
  grid-column: 1;
  margin: 0 auto;
  display: flex;
  height: 232px;
  width: 144px;
}

div#fwxSkinPreview {
  background-image: url("https://sfwx.github.io/floral/64/dummy.png");
  background-position: -175px -175px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  border: 10px solid #e7e8ec;
  box-shadow: #58585a 0 5px;
  background-size: 1400px;
  background-color: gray;
  display: flex;
  height: 175px;
  width: 175px;
}


/* ===========================
   BOTÕES
=========================== */

div.fwxButtons {
  flex-direction: column;
  align-items: center;
  margin-left: -5px;
  grid-column: 2;
  display: flex;
  gap: 10px;
}

button.fwxButton {
  border: 3.5px solid #e7e8ec;
  background-color: #d0d1d4;
  box-shadow: #58585a 0 5px;
  transition: all 0.1s;
  font-size: 16px;
  height: 47.1px;
  width: 362.5px;
}

/* Estados do botão */
button.fwxButton:hover {
  border: 3.5px solid #b3b4b7;
  background-color: #c6c6c7;
  box-shadow: #3c3c3c 0 5px;
}

button.fwxButton:focus {
  border: 3.5px solid #639d52;
  background-color: #3c8527;
  box-shadow: #1d4d13 0 5px;
  color: white;
}

button.fwxButton:active {
  transform: translateY(4px);
  box-shadow: #3c3c3c 0 1px;
}

button.fwxButton:disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.75;
  color: black;
}


/* ===========================
   CONSOLE & SCROLLBAR
=========================== */

div.fwxConsoleContainer {
  border: 10px solid #e7e8ec;
  box-shadow: #58585a 0 5px;
  background-color: #222222;
  margin-bottom: 325px;
  margin-top: 50px;
  padding: 10px;
  height: 300px;
}

div#fwxConsole {
  background-color: transparent;
  font-family: "Minecraft";
  white-space: pre-wrap;
  overflow-y: auto;
  font-size: 12px;
  color: #55ff55;
  outline: none;
  border: none;
  resize: none;
  height: 100%;
  width: 100%;
}

div#fwxConsole::-webkit-scrollbar {
  width: 10px;
}

div#fwxConsole::-webkit-scrollbar-track {
  background: #111111;
}

div#fwxConsole::-webkit-scrollbar-thumb {
  border: 2px solid #111111;
  background: #3c8527;
}
