/*            FwX: MAIN             */
/* Todos os direitos são reservados */
/* https://sfwx.github.io/copyright */

*:not([data-fwx]) {
  background-color: red !important;
  pointer-events: none !important;
  filter: blur(1.25px) !important;
  display: none !important;
  opacity: 0.5 !important;
}
[data-fwx].debug {
  box-sizing: border-box;
  position: relative;
}
[data-fwx].debug.a::after {
  background-image:
    linear-gradient(to right, rgba(30, 144, 255, 0.25) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(30, 144, 255, 0.25) 1px, transparent 1px);
  background-size: 10px 10px;
  border: 1px solid rgba(30, 144, 255, 0.25);
  pointer-events: none;
  position: absolute;
  content: "";
  z-index: 1;
  inset: 0;
}
[data-fwx].debug.b::before {
  background-image:
    linear-gradient(to right, rgba(30, 144, 255, 0.25) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(30, 144, 255, 0.25) 1px, transparent 1px);
  background-size: 10px 10px;
  border: 1px solid rgba(30, 144, 255, 0.25);
  pointer-events: none;
  position: absolute;
  content: "";
  z-index: -1;
  inset: 0;
}

/* Todos os direitos são reservados */
/* https://sfwx.github.io/copyright */
