/*            FwX: MAIN             */
/* Todos os direitos são reservados */
/* https://sfwx.github.io/copyright */

html:not([data-fwx]) {
  --cell: 25vw; /* 4 células = 100vw */
  background:
    linear-gradient(90deg,
      #323232 0 var(--cell),
      #191919 var(--cell) calc(var(--cell)*2),
      #ff00ff calc(var(--cell)*2) calc(var(--cell)*3),
      #ca05df calc(var(--cell)*3) calc(var(--cell)*4)
    ),
    linear-gradient(90deg,
      #191919 0 var(--cell),
      #000000 var(--cell) calc(var(--cell)*2),
      #ca05df calc(var(--cell)*2) calc(var(--cell)*3),
      #96109e calc(var(--cell)*3) calc(var(--cell)*4)
    ),
    linear-gradient(90deg,
      #ff00ff 0 var(--cell),
      #ca05df var(--cell) calc(var(--cell)*2),
      #323232 calc(var(--cell)*2) calc(var(--cell)*3),
      #191919 calc(var(--cell)*3) calc(var(--cell)*4)
    ),
    linear-gradient(90deg,
      #ca05df 0 var(--cell),
      #96109e var(--cell) calc(var(--cell)*2),
      #191919 calc(var(--cell)*2) calc(var(--cell)*3),
      #000000 calc(var(--cell)*3) calc(var(--cell)*4)
    );
  background-size: 100vw 100vw;
  background-repeat: repeat-y;
  
  /* background-image: url("https://sfwx.github.io/image/teste.png") !important;
  background-position: center !important;
  image-rendering: pixelated !important;
  background-size: cover !important;
  pointer-events: none !important; */
}
html *:not([data-fwx]) {
  pointer-events: none !important;
  transition: opacity 5s !important;
  opacity: 0 !important;
  // display: none !important;
}
html *[data-fwx] {
  opacity: 1;
}
[data-fwx].debug {
  box-sizing: border-box;
  position: relative;
}
[data-fwx].debug.a::after {
  background-image:
    linear-gradient(to right, rgba(30, 144, 255, 0.25) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(30, 144, 255, 0.25) 1px, transparent 1px);
  background-size: 10px 10px;
  border: 1px solid rgba(30, 144, 255, 0.25);
  pointer-events: none;
  position: absolute;
  content: "";
  z-index: 1;
  inset: 0;
}
[data-fwx].debug.b::before {
  background-image:
    linear-gradient(to right, rgba(30, 144, 255, 0.25) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(30, 144, 255, 0.25) 1px, transparent 1px);
  background-size: 10px 10px;
  border: 1px solid rgba(30, 144, 255, 0.25);
  pointer-events: none;
  position: absolute;
  content: "";
  z-index: -1;
  inset: 0;
}

/* Todos os direitos são reservados */
/* https://sfwx.github.io/copyright */
