/*            FwX: MAIN             */
/* Todos os direitos são reservados */
/* https://sfwx.github.io/copyright */

html:not(.fwx)::after {
  background-image: url("https://sfwx.github.io/image/debug.png") !important;
  background-size: 80px 80px !important;
  image-rendering: pixelated !important;
  background-color: black !important;
  pointer-events: none !important;
  position: fixed !important;
  z-index: 999999 !important;
  content: "" !important;
  inset: 0 !important;
}
html *:not([data-fwx]) {
  pointer-events: none !important;
  display: none !important;
}
[data-fwx].debug.a, [data-fwx].debug.b {
  box-sizing: border-box;
  position: relative;
}
[data-fwx].debug.a::after, [data-fwx].debug.b::before {
  background-image:
    linear-gradient(to right, rgba(30, 144, 255, 0.25) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(30, 144, 255, 0.25) 1px, transparent 1px);
  border: 1px solid rgba(30, 144, 255, 0.25);
  background-size: 10px 10px;
  pointer-events: none;
  position: absolute;
  content: "";
  inset: 0;
}
[data-fwx].debug.a::after {
  z-index: 1;
}
[data-fwx].debug.b::before {
  z-index: -1;
}
html[data-fwx][data-origin="https://sfwx.github.io"][data-copyright="https://sfwx.github.io/copyright"] > body[data-fwx] div[data-fwx].console > pre[data-fwx]#fwxConsole > span[data-fwx].fwx { color: violet; }
html[data-fwx][data-origin="https://sfwx.github.io"][data-copyright="https://sfwx.github.io/copyright"] > body[data-fwx] div[data-fwx].console > pre[data-fwx]#fwxConsole > span[data-fwx].info { color: lightskyblue; }
html[data-fwx][data-origin="https://sfwx.github.io"][data-copyright="https://sfwx.github.io/copyright"] > body[data-fwx] div[data-fwx].console > pre[data-fwx]#fwxConsole > span[data-fwx].success { color: lightgreen; }
html[data-fwx][data-origin="https://sfwx.github.io"][data-copyright="https://sfwx.github.io/copyright"] > body[data-fwx]div[data-fwx].console > pre[data-fwx]#fwxConsole > span[data-fwx].warn { color: palegoldenrod; }
html[data-fwx][data-origin="https://sfwx.github.io"][data-copyright="https://sfwx.github.io/copyright"] > body[data-fwx]div[data-fwx].console > pre[data-fwx]#fwxConsole > span[data-fwx].error { color: lightcoral; }

/* Todos os direitos são reservados */
/* https://sfwx.github.io/copyright */
