/*            FwX: MAIN             */
/* Todos os direitos são reservados */
/* https://sfwx.github.io/copyright */

html:not([data-fwx]) {
  background-image: url("https://sfwx.github.io/image/debug.png") !important;
  background-size: 80px 80px !important;
  image-rendering: pixelated !important;
  background-color: black !important;
  pointer-events: none !important;
}
html *:not([data-fwx]) {
  pointer-events: none !important;
  display: none !important;
}
[data-fwx].debug {
  box-sizing: border-box;
  pointer-events: none;
  position: relative;
}
[data-fwx].debug.a::after {
  background-image:
    linear-gradient(to right, rgba(30, 144, 255, 0.25) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(30, 144, 255, 0.25) 1px, transparent 1px);
  border: 1px solid rgba(30, 144, 255, 0.25);
  background-size: 10px 10px;
  pointer-events: none;
  position: absolute;
  content: "";
  z-index: 1;
  inset: 0;
}
[data-fwx].debug.b::before {
  background-image:
    linear-gradient(to right, rgba(30, 144, 255, 0.25) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(30, 144, 255, 0.25) 1px, transparent 1px);
  border: 1px solid rgba(30, 144, 255, 0.25);
  background-size: 10px 10px;
  pointer-events: none;
  position: absolute;
  content: "";
  z-index: -1;
  inset: 0;
}

/* Todos os direitos são reservados */
/* https://sfwx.github.io/copyright */
