@font-face {
  font-family: "Minecraft";
  src: url("https://sfwx.github.io/font/Minecraft.otf") format("opentype");
}
@font-face {
  font-family: "Minecraft";
  font-weight: bold;
  src: url("https://sfwx.github.io/font/MinecraftBold.otf") format("opentype");
}
/* CSS aplicado a todos os elementos */
* {
  font-family: Minecraft;
  user-select: none;
  overflow: hidden;
  overflow-x: none;
  overflow-y: none;
  outline: none;
  cursor: none;
}
/* CSS do body como um total */
body {
  font-family: "Raleway", sans-serif;
  background-color: #00001c;
}
/* CSS do cursor da pagina */
span#fwxMouse {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px #4525b8;
  pointer-events: none;
  position: absolute;
  text-align: center;
  border-radius: 50%;
  z-index: 9999;
  color: white;
  height: 15px;
  width: 15px;
  left: -64px;
  top: -64px;
}
/* CSS do pet da pagina */
i#fwxPet {
  transition: top 0.5s ease, left 0.5s ease, transform 0.5s ease;
  filter: drop-shadow(0 0 5px #4525b8);
  transform: rotate(-45deg);
  pointer-events: none;
  text-align: center;
  position: absolute;
  font-size: 25px;
  color: #4525b8;
  left: 1277.5px;
  z-index: 9999;
  top: 150px;
}
/* CSS de background da pagina */
div.fwxBackground {
  pointer-events: none;
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
div.fwxBackground img {
  animation: 5s infinite alternate;
  transform-origin: center bottom;
  position: absolute;
  top: 84.25%;
}
@keyframes coralAnimate1 {
  0% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(12deg);
  }
}
@keyframes coralAnimate1I {
  0% {
    transform: rotate(-6deg) scaleX(-1);
  }
  100% {
    transform: rotate(12deg) scaleX(-1);
  }
}
@keyframes coralAnimate2 {
  0% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(-12deg);
  }
}
@keyframes coralAnimate2I {
  0% {
    transform: rotate(12deg) scaleX(-1);
  }
  100% {
    transform: rotate(-12deg) scaleX(-1);
  }
}
div.fwxBubble {
  box-shadow: 0 0 15px rgba(69, 37, 184, 0.75);
  animation: bubbleAnimate linear infinite;
  border-radius: 50%;
  position: absolute;
  height: 25px;
  width: 25px;
}
@keyframes bubbleAnimate {
  0% {
    transform: translateY(500%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}
/* CSS da barra de pesquisa */
form.fwxSearchBar input {
  box-shadow: 0 0 15px #4525b8;
  margin: 20px auto 15px 15px;
  background-color: black;
  justify-content: center;
  padding: 0 20px 0 20px;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  font-size: 20px;
  color: darkgray;
  position: fixed;
  display: flex;
  height: 75px;
  width: 500px;
  border: none;
  right: 35px;
  z-index: 1;
  top: 30px;
}
form.fwxSearchBar button {
  filter: drop-shadow(0 0 5px darkgray);
  background-color: transparent;
  font-size: 25px;
  position: fixed;
  color: darkgray;
  border: none;
  width: 35px;
  right: 55px;
  top: 72.5px;
  z-index: 2;
}
form.fwxSearchBar span.fwxLife {
  filter: drop-shadow(0 0 5px #4525b8);
  position: fixed;
  font-size: 25px;
  color: #4525b8;
  right: 375px;
  top: 150px;
  z-index: 1;
}
form.fwxSearchBar span.fwxClock i {
  filter: drop-shadow(0 0 5px #4525b8);
  position: fixed;
  font-size: 25px;
  color: #4525b8;
  right: 335px;
  top: 150px;
  z-index: 1;
}
form.fwxSearchBar span.fwxClock span {
  filter: drop-shadow(0 0 5px #4525b8);
  position: fixed;
  font-size: 25px;
  color: #4525b8;
  right: 265px;
  top: 150px;
  z-index: 1;
}
/* CSS para as barras laterais de apps */
div#fwxSidebar.fwxClose {
  transition: left 0.35s ease-in-out;
  display: inline-flex;
  position: absolute;
  left: -410px;
  top: 30px;
}
div#fwxSidebar.fwxOpen {
  transition: left 0.35s ease-in-out;
  display: inline-flex;
  position: absolute;
  left: 25px;
  top: 30px;
}
div.fwxGridApps {
  display: inline-block;
  vertical-align: top;
  width: 105px;
}
div.fwxGridSidebar {
  display: inline-block;
  vertical-align: top;
  width: auto;
}
/* CSS dos apps na barra lateral */
span.fwxApp {
  transition: width 0.3s ease-in-out;
  box-shadow: 0 0 15px #4525b8;
  margin: 20px auto 15px 15px;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  font-size: 40px;
  color: darkgray;
  display: flex;
  height: 75px;
  width: 75px;
}
span.fwxApp:hover i {
  filter: drop-shadow(0 0 5px darkgray);
}
span.fwxApp:hover {
  color: white;
}
div.fwxGridSidebar span.fwxApp {
  margin-right: 15px;
}
/* CSS do botão da grade de apps */
span#fwxSidebarButton.fwxClose {
  position: absolute;
  top: 605px;
  left: 25px;
}
span#fwxSidebarButton.fwxOpen {
  position: absolute;
  width: 185px;
  top: 605px;
  left: 25px;
}
span#fwxSidebarButton.fwxClose i.fa-angle-left {
  display: none;
}
span#fwxSidebarButton.fwxOpen i.fa-angle-right {
  display: none;
}
/* CSS bloco de notificação */
div.fwxNotify {
  box-shadow: 0 0 15px #4525b8;
  margin: 20px auto 15px 15px;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  position: fixed;
  font-size: 20px;
  color: #444444;
  display: flex;
  height: 175px;
  bottom: 25px;
  width: 300px;
  right: 35px;
}
div.fwxNotify span {
  display: block;
}
a.fwxCopyright {
  text-decoration: none;
  position: fixed;
  color: #551a8b;
  bottom: 15px;
  right: 35px;
}